
h1 {
	text-align: left;
	color: white;
}

h4 {
	color:white;
    
}

p {
    color:white;
    
}



body {
	background-color: #10ADED
	
}

img {
    width:400px;
    height:415px;
    padding:1px;
   border:2px solid #021a40;
    border-radius: 24px;
  

}

.what {
    background: #000000 url("http://fanaru.com/doge/image/18361-doge-follow-your-dreams.jpg") no-repeat fixed center;

}

.contain {
 
  height: 400px;
  width: 60%;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;

 

}

.newcontain {
  border: 10px solid black;
  height: 450px;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
 
}

.buttonz {

      border-radius: 24px;
      background-color: #1A1A1A;
      color:white;
      margin: 2px;
      width: 160px;
      height: 45px;
      font-size: 20px;

}

#result {
    background-color: #C0FF33;
    width:500px; 
    height:100px; 
    font-size:50px; 
    text-align: center;

}






/***********************
  ROUND BUTTONS
************************/
.round {
  border-radius: 24px;
  
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration-color: white;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

